<template>

<b-container>
  <div>

    <h2>
      CREAR CUENTA
    </h2>

      <b-form  id="frmInscripciones" name="frmInscripciones" @submit="onSubmit" @reset="onReset" v-if="show">

        <b-form-group id="exampleInputGroup1">
          <b-form-input
            id="nameInput"
            type="text"
            v-model="form.nombre"
            placeholder="Nombre" />
        </b-form-group>

        <b-form-group id="exampleInputGroup2">
          <b-form-input
            id="apeInput"
            type="text"
            v-model="form.ape"
            placeholder="Apellido" />
        </b-form-group>

        <b-form-group id="exampleInputGroup3">
          <b-form-input
            id="dniInput"
            type="text"
            v-model="form.dni"
            placeholder="DNI" />
        </b-form-group>

        <b-form-group id="exampleInputGroup4">
          <b-form-input
            id="mailInput"
            type="email"
            v-model="form.email"
            placeholder="E-mail" />
        </b-form-group>

        <b-form-group id="exampleInputGroup5">
          <b-form-input
            id="telInput"
            type="text"
            v-model="form.tel"
            placeholder="Telefono" />
        </b-form-group>

        <b-form-group id="exampleInputGroup6">
          <b-form-input
            id="passInput"
            type="password"
            v-model="form.pass"
            placeholder="Contraseña" />
        </b-form-group>

        <b-button type="submit" variant="primary">Enviar</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </div>
</b-container>
</template>

<script>
import UsuarioSvc from '@/services/usuario'
export default {
  name:'Index',
    data() {
      return {
        form: {
          nombre: '',
          ape: '',
          dni:'',
          tel:'',
          email: '',
          pass:''
        },
        show: true
      }
    },
    methods: {
      onSubmit(evt){
        //this.blockUI.loading=true;
        UsuarioSvc.crear({
          nombre    : this.form.nombre,
          apellido  : this.form.ape,
          dni       : this.form.dni,
          email     : this.form.email,
          telefono  : this.form.tel,
          password  : this.form.pass,
        }).then(r=>{
          this.limpiar();
          this.$swal({type:'success', text:r.data.status.mensaje});
          console.log("éxito");
        })
        .catch(e=>{
        //  this.blockUI.loading=false;
        console.log("error"+e);
        });
      },

      limpiar(){
        this.form.nombre = ''
        this.form.ape = ''
        this.form.dni = ''
        this.form.tel = ''
        this.form.email = ''
        this.form.pass = ''
      },
      onReset(evt) {
        evt.preventDefault()
        /* Reset our form values */
        this.form.nombre = ''
        this.form.ape = ''
        this.form.dni = ''
        this.form.tel = ''
        this.form.email = ''
        this.form.pass = ''
        /* Trick to reset/clear native browser form validation state */
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only

export default {
  name: 'index',
  data () {
    return {
      msg: 'bienvenidos a mi aplicacion web'
    }
  }
}

-->
<style>

  .negrita{
    font-size: 40px !important;
  }


</style>
